@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply relative h-full
  };
  body {
    @apply h-full dark:bg-neutral-900 transition-colors duration-150
  };
};

@layer utilities {
  .slant-top {
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
  }

  .slant-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  }
}
body {
  font-family: 'Open Sans', sans-serif;
}